.titulo{
    color: #6495ED;
    /*text-align: center;*/ /*como uso fit-content text-aling ya no afecta al titulo*/
    width: fit-content; /*esto evita que ocupe todo el ancho de la pagina*/
    background-color: #FFFFE0;
    padding: 1% 5%;
    margin: 0 auto; /*alternativa a text-aling para centrar el titulo*/
}

.subtitulo{
    color: #6495ED;
    width: fit-content; /*esto evita que ocupe todo el ancho de la pagina*/
    background-color: #FFFFE0;
    padding: 0.5% 4%;
}


.contenedor_titulo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.barra{
    background-color: #6495ED; /*color de la barra del menu*/
}

.barra .nav-link:hover{
    color: #F0FFFF;
}

.formulario{
    text-align: center;/*centrar el texto del formulario*/

    background-color: #FFFFE0;
}

.formulario h3{
    color: #6495ED;
}

.formulario label{
    color: #6495ED;
}

#text_footer{
    position: relative;/*para poder mover usando top y left*/
    top: 30px;   /* lo baja */
    text-align: center;
}

.boton{
    position: relative;
    top: -1em;
}


