.titulo{
    color: #6495ED;
    width: fit-content; /*esto evita que ocupe todo el ancho de la pagina*/
    background-color: #e8ebeb;
    padding: 1% 5%;
    margin: 0 auto; /*alternativa a text-aling para centrar el titulo*/
}

.subtitulo{
    color: #6495ED;
    width: fit-content; 
    background-color: #e8ebeb;
    padding: 0.5% 4%;
}


.contenedor_titulo img{ /*para que la imagen quede debajo de todo*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed; /*para que se desplace a medida que bajas*/
}

.barra{
    background-color: #6495ED; /*color de la barra del menu*/
}

.barra .nav-link:hover{
    color: #F0FFFF;
}

.formulario{
    text-align: center;/*centrar el texto del formulario*/

    background-color: #F0F8FF;
}

.formulario h3{
    color: #6495ED;
}

.formulario label{
    color: #6495ED;
}

#text_footer{
    position: relative;/*para poder mover usando top y left*/
    top: 30px;   /* lo baja */
    text-align: center;
}

.boton{
    position: relative;
    top: -1em;
}

#formulario2{ /*solo lo uso para bajar un poco el formulario de la pagina 2*/
    margin-top: 2%;
}


/*mensaje de error para la fecha*/
.campo_fecha > p{
    color: red; font-weight: bold;
}

.campo_origen > p{
    color: red; font-weight: bold;
}